body{
    height: 100%;
    background: linear-gradient(to top,black,gray,white);
    color: white;
}
#a{
    text-align: center;
    padding-bottom: 50px;
    height: 70px;
}
#b{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrU8yOsHi1Xf0kNbCI0sybBnFkS5ug7hrOCQ&usqp=CAU);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-left: 10px;
    font-size: 70px;
}
#c{
    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 100%;
}
#a1{
    margin-left: 10%;
    width: 30%;
    height: 30%;
    border: 10px solid blue;
    border-radius: 10%;
}
#x{
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 20%;
}
#x1{
    position: absolute;
    font-size: 50px;
    left: 65%;
    top: 30%;
}
#d{
    position: relative;
    width: 100%;
    height: 100%;
}
#a2{
    margin-left: 65%;
    width: 30%;
    height: 50%;
    border: 10px solid blue;
    border-radius: 10%;
}
#x2{
    position: absolute;
    font-size: 50px;
    left: 30px;
    top: 30%;
}
#x3{
    position: absolute;
    font-size: 50px;
    left: 40%;
    top: 53%;
}
#x4{
    position: absolute;
    font-size: 50px;
    left: 35%;
    top: 45%;
}
#x5{
    position: absolute;
    font-size: 50px;
    left: 70%;
    top: 33%;
}
#a2:hover{
    border: 10px solid red;
    cursor: pointer;
}
#a1:hover{
    border: 10px solid red;
    cursor: pointer;
}

